:root {
    --white: #ffffff;
    --black: #111111;
    --grey: #343a30;

    --fountPrincipal: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fountPrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}

h1, h2, h3 {
    font-weight: 900;
    margin: 1rem 0 4rem 0;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 5.8rem;
}

h3 {
    font-size: 5rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.btn {
    color: var(--grey);
    background-color: var(--white);
    border: 1px solid var(--grey);
    padding: .5rem 2rem;
    transition: background-color .3s;
}

.btn:hover {
    background-color: var(--grey);
    color: var(--white);
}

/*----------utilities----------*/

.textCenter {
    text-align: center;
}

.marginT5 {
    margin-top: 5rem;
}

/*--------------Globals, Utilities and Reset end----------*/
/*----------header start----------*/
.header {
    min-height: 60rem;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

@media (min-width: 768px) { 
    .header {
        padding: 2rem;
    }
}

.headerContent {
    display: flex;
    flex-direction: column;
    height: calc(60rem - 4rem);
    justify-content: space-between;
    color: var(--white);
}

.siteName {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}

@media (min-width: 768px) { 
    .siteName {
        font-size: 5rem;
    }
}

.siteName span {
    font-weight: 900;
}

@media (min-width: 768px) { 
    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) { 
    .contact {
        align-items: flex-end;
    }
}

.phone {
    display: flex;
}

.phone::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(../img/telefono.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 1rem;
}

.header a {
    color: var(--white);
    font-size: 2rem;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) { 
    .navigation {
        flex-direction: row;
    }
}

.navigation a{
    padding: 1rem 2rem;
    transition: background-color 300ms;
}

.navigation a:hover {
    background-color: rgb(255 255 255 / .3);
}
/*----------header end----------*/